head
  title Reddit Personality | Main
  link(href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css")
  link(href="/css/style.css" rel="stylesheet" type="text/css")

body
  center
    form(action="/submit", method="POST")
      | Input Reddit Username: 
      input(name="username" placeholder="username") 