head
  title Reddit Personality | Main
  link(href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css")
  link(href="/css/style.css" rel="stylesheet" type="text/css")
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  script
    include ../bower_components/angular/angular.min.js
    include ../bower_components/jquery/dist/jquery.min.js
    include ../app.js

body
  br
  div(class="container")
    div(class="col-md-12")
      div(class="page-header")
        h2  Reddit Personality Insights
      p A well-accepted theory of psychology, marketing, and other fields is that human language reflects personality, thinking style, social connections, and emotional states. The frequency with which we use certain categories of words can provide clues to these characteristics. Several researchers found that variations in word usage in writings such as blogs, essays, and tweets can predict aspects of personality (Fast & Funder, 2008; Gill et al., 2009; Golbeck et al., 2011; Hirsh & Peterson, 2009; and Yarkoni, 2010).
      p IBM conducted a set of studies to understand whether personality characteristics inferred from social media data can predict people's behavior and preferences. IBM found that people with specific personality characteristics responded and re-tweeted in higher numbers in information-collection and -spreading tasks. For example, people who score high on excitement-seeking are more likely to respond, while those who score high on cautiousness are less likely to do so (Mahmud et al., 2013). Similarly, people who score high on modesty, openness, and friendliness are more likely to spread information (Lee et al., 2014).
      p IBM also found that people with high openness and low emotional range (neuroticism) as inferred from social media language responded more favorably (for example, by clicking an advertisement link or following an account), results that have been corroborated with survey-based, ground-truth checking. For example, targeting the top 10 percent of users in terms of high openness and low emotional range resulted in increases in click rate from 6.8 percent to 11.3 percent and in follow rate from 4.7 percent to 8.8 percent.
      p Multiple recent studies disclosed similar results for characteristics that were computed from social media data. One recent study with retail store data found that people who score high in orderliness, self-discipline, and cautiousness and low in immoderation are 40 percent more likely to respond to coupons than the random population. A second study found that people with specific values showed specific reading interests (Hsieh et al. 2014). For example, people with a higher self-transcendence value demonstrated an interest in reading articles about the environment, and people with a higher self-enhancement value showed an interest in reading articles about work. A third study of more than 600 Twitter users found that a person's personality characteristics can predict their brand preference with 65 percent accuracy.
      p Read more at https://www.ibm.com/watson/developercloud/doc/personality-insights/science.html (IBM).
      p This is a fun project that utilizes IBM Watson's Personality Insights API within the context of Reddit comments to return an overview of an user's personality.
      div(class="page-header")
        h2 Input  
      <div class="form-group">
        form(action="/submit", method="POST")
          <label for="username">Reddit Username:</label>
          <input type="text" class="form-control" id="username" placeholder="Username" name="username">
          <input type="submit" class="btn btn-default" value="Submit">
      </div>
      div(class="page-header")
        h2 Recent Searches

      section(ng-app="ruapp" class="withId" ng-controller="rusers")
        span(class="label") Ordered By: {{orderByField}}, Reverse Sort: {{reverseSort}}
        br
        br
        table(id="users" class="table table-bordered")
          thead
            tr
              th 5 Most Recent Searches
          tbody
            tr(ng-repeat="emp in data.user|orderBy:orderByField:reverseSort|limitTo : limit")
              td {{emp.user}}