head
  title Reddit Personality Insights | Results
  link(href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css")
  link(href="/css/style.css" rel="stylesheet" type="text/css")
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  script
    include ../bower_components/angular/angular.min.js
    include ../bower_components/jquery/dist/jquery.min.js
    include ../bower_components/chart.js/dist/Chart.min.js
    include ../bower_components/angular-chart.js/dist/angular-chart.min.js
    include ../app.js


body(ng-app="app")
  br
  div(class="container")
    div(class="col-md-12")
      div(class="page-header")
        h2  Reddit Personality Insights
      p A well-accepted theory of psychology, marketing, and other fields is that human language reflects personality, thinking style, social connections, and emotional states. The frequency with which we use certain categories of words can provide clues to these characteristics. Several researchers found that variations in word usage in writings such as blogs, essays, and tweets can predict aspects of personality (Fast & Funder, 2008; Gill et al., 2009; Golbeck et al., 2011; Hirsh & Peterson, 2009; and Yarkoni, 2010).
      p IBM conducted a set of studies to understand whether personality characteristics inferred from social media data can predict people's behavior and preferences. IBM found that people with specific personality characteristics responded and re-tweeted in higher numbers in information-collection and -spreading tasks. For example, people who score high on excitement-seeking are more likely to respond, while those who score high on cautiousness are less likely to do so (Mahmud et al., 2013). Similarly, people who score high on modesty, openness, and friendliness are more likely to spread information (Lee et al., 2014).
      p IBM also found that people with high openness and low emotional range (neuroticism) as inferred from social media language responded more favorably (for example, by clicking an advertisement link or following an account), results that have been corroborated with survey-based, ground-truth checking. For example, targeting the top 10 percent of users in terms of high openness and low emotional range resulted in increases in click rate from 6.8 percent to 11.3 percent and in follow rate from 4.7 percent to 8.8 percent.
      p Multiple recent studies disclosed similar results for characteristics that were computed from social media data. One recent study with retail store data found that people who score high in orderliness, self-discipline, and cautiousness and low in immoderation are 40 percent more likely to respond to coupons than the random population. A second study found that people with specific values showed specific reading interests (Hsieh et al. 2014). For example, people with a higher self-transcendence value demonstrated an interest in reading articles about the environment, and people with a higher self-enhancement value showed an interest in reading articles about work. A third study of more than 600 Twitter users found that a person's personality characteristics can predict their brand preference with 65 percent accuracy.
      p Read More at https://www.ibm.com/watson/developercloud/doc/personality-insights/science.html (IBM).
      p This is a fun project that utilizes IBM Watson's Personality Insights API within the context of Reddit comments to return an overview of an user's personality.
      div(class="page-header")
        h2 Results
      br

    div(class="col-md-12")
      div(class="panel panel-default")
        div(class="panel-heading")
          center
            h5 Overview
        div(class="panel-body" ng-controller="Overview")
          div(class="col-md-12")
            p 
              b {{wordCount}} 
              | words counted and analyzed; 
              b {{strength}} 
              | analysis. {{strengthDesc}}
          div(class="col-md-12")
            div(class="page-header")
              h5 Summary
            p {{textSummary}}

          div(class="col-md-6")
            div(class="page-header")
              h5 You are likely to______
            ul
              li(ng-repeat="likely in likely") {{likely}}
          div(class="col-md-6")
            div(class="page-header")
              h5 You are unlikely to______
            ul
              li(ng-repeat="unlikely in unlikely") {{unlikely}}
          div(class="col-md-12")
            br
            p 
              b Note: 
              | The scores you see below are all percentiles. They are comparing one person to a broader population. For example, a 90% on Extraversion does not mean that the person is 90% extroverted. It means that for that single trait, the person is more extroverted than 90% of the people in the population.
      div(class="panel panel-default")
        div(class="panel-heading")
          center
            h5 Values | Personality | Needs
        div(class="panel-body")
          div(class="col-md-4" ng-controller="Values")
              <canvas id="radar" class="chart chart-radar" chart-data="data" chart-options="options" chart-labels="labels"></canvas>
          div(class="col-md-4" ng-controller="Personality")
            <canvas id="radar" class="chart chart-radar" chart-data="data" chart-options="options" chart-labels="labels"></canvas>
          div(class="col-md-4" ng-controller="Needs")
            <canvas id="radar" class="chart chart-radar" chart-data="data" chart-options="options" chart-labels="labels"></canvas>

    div(class="col-md-4" ng-controller="Openness")
      div(class="panel panel-default")
        div(class="panel-heading")
          center
            h5 Openness
        div(class="panel-body")
          <canvas id="radar" class="chart chart-radar" chart-data="data" chart-options="options" chart-labels="labels"></canvas>
    div(class="col-md-4" ng-controller="Conscientiousness")
      div(class="panel panel-default")
        div(class="panel-heading")
          center
            h5 Conscientiousness
        div(class="panel-body")
          <canvas id="radar" class="chart chart-radar" chart-data="data" chart-options="options" chart-labels="labels"></canvas>
    div(class="col-md-4" ng-controller="Extraversion")
      div(class="panel panel-default")
        div(class="panel-heading")
          center
            h5 Extraversion
        div(class="panel-body")
          <canvas id="radar" class="chart chart-radar" chart-data="data" chart-options="options" chart-labels="labels"></canvas>
    div(class="col-md-2")
    div(class="col-md-4" ng-controller="Agreeableness")
      div(class="panel panel-default")
        div(class="panel-heading")
          center
            h5 Agreeableness
        div(class="panel-body")
          <canvas id="radar" class="chart chart-radar" chart-data="data" chart-options="options" chart-labels="labels"></canvas>
    div(class="col-md-4" ng-controller="EmotionalRange")
      div(class="panel panel-default")
        div(class="panel-heading")
          center
            h5 Emotional Range
        div(class="panel-body")
          <canvas id="radar" class="chart chart-radar" chart-data="data" chart-options="options" chart-labels="labels"></canvas>
    div(class="col-md-2")
