.codeBlock {
  display: block;
  white-space: pre-wrap  
  font-size: 1em;
  font-family: "Courier New", "Lucida Console", monospace;
  background: #323232;
  color: #E0E0E0;
  width: 100%;
  overflow:scroll; 
  height:50vh;
}